body {
    padding-top: 70px !important;
    padding-bottom: 40px !important;
}
.white-box{
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.marginLeft20{
    margin-left: 20px;
}
.marginTop-10{
    margin-top: -10px;
}
.marginTop20{
    margin-top: 20px;
}
.find-box{
    padding: 10px 0 0;
    margin: 0 0 20px;
}
h2.underline{
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px #aaa solid;
}

body {
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 350px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="date"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.registration-input-width input{
    width: 285px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

a.registerLink{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#08c;
    font-size: 16px;
    float: right;
    margin-top: 15px;
}
a.registerLink:hover{
    color: #005580;
}
.paddingBottom50{
    padding-bottom: 50px;
}
.margieBottom0px{
    margin-bottom: 0px;
}
.disabledTextFieldWrapp{
    width: 305px;
}
.disabledTextField{
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #000;
    background: #eee;
}
.width100px{
    width: 100px;
}
.width190px{
    width: 190px;
}

.word_history{
    padding-bottom: 5px;
}
.word_history_white{
    background-color: rgb(249, 249, 249);
    padding: 15px 10px;
}

.word_history_grey{
    padding: 15px 10px;
}

span.history_key {
    font-weight: bold;
    text-transform: uppercase;
}
span.wordType {
    font-style: italic;
    font-weight: bold;
}
.wordByType {
    margin-left: 20px;
}
span.synonym {
    font-size: 14px;
}

.synonym_placeholder {
    margin-left: 19px;
}

.navbar-inverse {
    background-color: rgb(66, 139, 202);
    border-color: rgb(66, 139, 202);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: rgb(236, 235, 235);
}

.navbar-inverse .navbar-nav>li>a {
    color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
    color: rgb(236, 235, 235);
}

.panel-column {
    overflow: auto;
    display: block;
}

.panel-item-links {
    float: right;
    margin: 5px 5px 0 0;
}