{% extends 'DictionaryBundle::layout.html.twig' %}

{% block navigation %}
    {{ include('DictionaryBundle::navigation.html.twig', { 'user': app.user } ) }}
{% endblock navigation %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message" style="padding: 5px">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6 col-xs-12">

            <form id="translation_form" style="padding: 5px;" method="get" action="{{ path('_home') }}" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input id="word" style=";height: 58px;font-size: 33px;" name="word" class="form-control" placeholder="Type a word...">
                    </div>
                </div>
            </form>
            <div id="response" style="padding: 0 0 0 10px;"></div>
        </div>

        <div id="history" class="col-md-5 col-xs-12">
        </div>
    </div>


{% endblock %}
{% block additionaljs %}
    <script type="text/javascript">
        var user = {
            'isUserLoggedIn': {% if is_granted('ROLE_USER') %}true{% else %}false{% endif %}
        };

        $(document).ready(function() {
            Dictionary.initDict();
        });
    </script>
{% endblock %}