<!DOCTYPE >
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="englesko-srpski recnik, recnik, prevod, prevodjenje, Serbian dictionary, englesko, srpski, engleski, reci, prevodilac, sinonimi ">

    <meta name="description"  content="Najbolji engleski reÄnik sa sinonimima. Personalni recnik. Istorija pretrage">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {#{% stylesheets#}
            {#'bundles/twitter/css/bootstrap.css'#}
            {#'@DictionaryBundle/Resources/public/css/*'#}
        {#filter='?uglifycss'#}
        {#output='css/min.css' %}#}
        {#<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59173424-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>

    {% block navigation %}{% endblock navigation %}

    <div class='container-fluid'>
        {% block content  %}
        {% endblock  %}
    </div>

    {#{% javascripts#}
            {#'@jquery_and_ui'#}
            {#'@bootstrap_js'#}
            {#'@DictionaryBundle/Resources/public/js/*'#}
        {#filter='?uglifyjs2'#}
        {#output='js/min.js' %}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}


    <script>
        var Routes = {
          'login': "{{ path('fos_user_security_login') }}"
        };

        var Translations = {
            'noun': '{% trans %}NOUN{% endtrans %}',
            'verb': '{% trans %}VERB{% endtrans %}',
            'adverb': '{% trans %}ADVERB{% endtrans %}',
            'adjective': '{% trans %}ADJECTIVE{% endtrans %}',
            'history': '{% trans %}HISTORY{% endtrans %}',
            'dontknow': '{% trans %}DONTKNOW{% endtrans %}',
            'almost': '{% trans %}ALMOST{% endtrans %}',
            'know': '{% trans %}KNOW{% endtrans %}',
        };
    </script>
    {% block additionaljs %}
    {% endblock %}
</body>
</html>